:root {
  color-scheme: light dark;
  font-size: large;
}

p {
  margin: 0;
}

input,
select,
p {
  margin-inline: 0.5ch;
  align-self: center;
}

.inputline,
.outputline {
  display: flex;
}

.duration {
  font-family: monospace;
  font-size: 1.1em;
}

input.reference {
  border-color: red;
}

img#github {
  height: 0.65em;
}

@media (prefers-color-scheme: light) {
  img#github {
    filter: invert();
  }
}
